/* src/components/LanguageSelector.module.css */
.languageSelector {
    z-index: 1050; /* High enough to cover other elements */
}

.languageButton {
    color: white; /* White text color */
    font-weight: bold; /* Bold font */
    font-size: 16px; /* Font size */
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
}

.divider {
    height: 24px; /* Divider height */
    width: 2px; /* Divider width */
    background-color: white; /* White divider */
    margin: 0 12px; /* Add some space around the divider */
}

@media (max-width: 768px) {
    .languageButton {
        font-size: 12px; /* Smaller font size for mobile devices */
    }
}
