/* src/components/LanguageSelector.module.css */
.languageSelector {
    z-index: 1050; /* 足够高以覆盖其他元素 */
}

.languageButton {
    color: white; /* 白色字体 */
    font-weight: bold; /* 加粗字体 */
    font-size: 16px; /* 字体大小 */
    background-color: transparent; /* 背景透明 */
    border: none; /* 去除边框 */
}

.divider {
    height: 24px; /* 分割线高度 */
    width: 2px; /* 分割线宽度 */
    background-color: white; /* 白色分割线 */
    margin: 0 12px; /* 在分割线两边增加一些空间 */
}

@media (max-width: 768px) {
    .languageButton {
        font-size: 12px; /* 较小的字体大小适用于移动设备 */
    }
}
