/* MainPage.module.css */
.mainContainer {
  width: 100vw;  /* Occupy the full viewport width */
  height: 100vh; /* Occupy the full viewport height */
  background-image: url('../public/images/background.webp'); /* Use background image */
  background-size: cover; /* Maintain the aspect ratio of the background image and cover the container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
}

.preText {
  white-space: pre-wrap; /* Preserve line breaks */
  word-wrap: break-word; /* Prevent content from overflowing the container width */
}
