.projectTreeWrapper {
    display: flex;
    flex-direction: column; /* Supports vertical layout */
    justify-content: center; /* Ensures the grid container is centered horizontally */
    align-items: center; /* Ensures the grid content is centered vertically */
    padding: 16px;
}

.projectTreeRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    width: 66%; /* Defaults to occupy 66% of the width in the center */
    max-width: 1000px; /* Sets a maximum width to prevent excessive expansion */
    margin: 0 auto; /* Ensures the grid is centered */
}

@media (max-width: 768px) {
    .projectTreeRow {
        width: 80%; /* Reduces the margin on small screens */
    }
}

@media (max-width: 480px) {
    .projectTreeRow {
        width: 100%; /* Occupies the entire viewport on very small screens */
        grid-template-columns: 1fr; /* Forces single-column layout */
    }
}

.projectCard {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1 / 1.3;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.spaceFiller {
    visibility: hidden; /* Keeps space but hides content */
}
